<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>

    <!--| <- 리터럴 대체 문법 -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/items/add}'|" type="button">상품 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <!-- th:each 반복 출력
                 모델에 포함된 items 컬렉션 데이터가 item 변수에 하나씩 포함되고 반목문 안에서 item 변수를 사용할 수 있다.
             -->
            <!-- ${..} 변수 표현식
                모델에 포함된 값이나, 타임리프 변수로 선언한 값을 조회할 수 있다.
                프로퍼티 접근법을 사용한다.
                ex) item.getPrice()
            -->
            <!-- th:text 내용 변경
                내용의 값을 th:text로 변경한다.
            -->
            <!-- @{} url 링크 표현식2
                th:href="@{/basic/items/{itemId}(itemId=${item.id})}, query='test'"
                생성 링크 : /basic/items/1?query=test
             -->
            <!-- @{} url 링크 간단히
                th:href="@{|/basic/items/${item.id}|}"
             -->
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/basic/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원 id</a></td>
                <td><a href="item.html" th:href="@{|/basic/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>